@import '@/assets/styles/variables.scss';

@import './forms.scss';

@import './button.scss';

@import './background_illustrations.scss';

@import './form_content_card.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}

.whole_content_wrapper {
    padding: 0 20px 0 20px;
}

p {
    // calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    font-size: calc(20px + (25 - 20) * ((100vw - 200px) / (1600 - 300)));
    line-height: calc(1.5em + (2.5 - 1.5) * ((100vw - 100px)/(1600 - 300)));  
    max-width: 28ch;
    margin-bottom: $biggestMarginBottom;
}

.highlighted {
    font-weight: 900;
}

h1 {
    font-size: calc(60px + (100 - 60) * ((100vw - 200px) / (1600 - 300)));
    line-height: calc(1em + (1.5 - 1) * ((100vw - 100px)/(1600 - 300)));  
    margin-bottom: $headlineMarginBottom;
    max-width: 9ch;
}

h2 {
    font-size: calc(25px + (45 - 25) * ((100vw - 200px) / (1600 - 300)));
    line-height: calc(1em + (2.5 - 1) * ((100vw - 100px)/(1600 - 300)));  
    margin-bottom: $headlineMarginBottom;
}


h3 {
    font-size: calc(25px + (25 - 25) * ((100vw - 200px) / (1600 - 300)));
    line-height: calc(1em + (2.5 - 1) * ((100vw - 100px)/(1600 - 300)));  
    margin-bottom: $mainMarginBottom;
}

a {
    font-size: calc(20px + (25 - 20) * ((100vw - 200px) / (1600 - 300)));
    line-height: calc(1em + (2.5 - 1) * ((100vw - 100px)/(1600 - 300)));   
    color: $primaryColor; 
    text-decoration: none;

    &:hover {
        text-decoration: underline; 
    }
}

.added_margin_bottom {
    margin-bottom: $headlineMarginBottom;
}

.last_added_margin_bottom {
    margin-bottom: 70px;
}

.comment_has_read_it {
    border-radius: 10px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;

    p {
        margin-bottom: 0;
    }
}

// SCROLLBAR

.wrapper_comments_has_read_it {
    height: 250px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 10px;
}

// PROFILE

.wrapper_edit_profile {
    display: flex;

    svg {
        width: 25px;
        margin: 0 10px $headlineMarginBottom 0;
        fill: $primaryColor;
    }
}

.friends p {
    text-align: center;
    max-width: 100%;
}

// RESPONSIVE DESIGN

@media (min-width: 650px){

    h1 {
        // min-width: 20ch;
    } 

    .whole_content_wrapper {
        padding: 0 50px 0 50px;
    }  
    
    #nav {
        padding-top: 40px;
    }

    #nav, #footer {
        padding-right: 50px;
        padding-left: 50px;   
    }

    p {
        max-width: 45ch;
        margin-bottom: $biggestMarginBottom;
    } 
    
}

@media (min-width: 1000px){

    h1 {
        min-width: 30ch;
    } 

    .whole_content_wrapper {
        padding: 0 100px 0 100px;
    }  
    
    #nav {
        padding-top: 40px;
    }

    p {
        max-width: 40ch;
        margin-bottom: $biggestMarginBottom;
    }   
    
}