.bg_blob_left {
    position: fixed;
    overflow: hidden;
    width: 800px;
    top: -10%;
    // top: 25vh;
    // transform:translateY(100%);
    left: -300px;
    z-index: -1;
}

.bg_blob_right {
    position: fixed;
    overflow: hidden;
    width: 200px;
    right: 0;
    top: 70%;
    // transform:translateY(50%);
    // top: 10vh;
    z-index: -1;
}