.bg_blob_book_of_the_month {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: -1;
    left: 10%;
}

.book_of_the_month {
    width: 60%;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 30px;
    margin-bottom: 30%;
}