
/* COLOUR */
$primaryColor: #C1024E;
$secondaryColor: purple;


/* TEXT  */
$mainFont: cairo, sans-serif;


/* MARGINS */
$mainMarginBottom: 10px;
$lowerMarginBottom: 5px;
$biggerMarginBottom: 20px;

$headlineMarginBottom: 40px;


// ANPASSEN

$fontColor1: #333;
$fontColor2: #000;

$fontColorHighlight1: $primaryColor;
$fontColorHighlight2: $secondaryColor;

$fontColorLight1: #555;



/* BG COLORS */

$bgColor: #efefef;
$boxColor: #fff;