
/* COLOUR */
$primaryColor: #C1024E;
$secondaryColor: purple;


/* TEXT  */
$mainFont: cairo, sans-serif;


/* MARGINS */
$lowerMarginBottom: 5px;
$mainMarginBottom: 10px;
$bigMarginBottom: 15px;
$biggerMarginBottom: 20px;
$biggestMarginBottom: 30px;


$headlineMarginBottom: 40px;


// ANPASSEN

$fontColor1: #333;
$fontColor2: #000;

$fontColorHighlight1: $primaryColor;
$fontColorHighlight2: $secondaryColor;

$fontColorLight1: #555;



/* BG COLORS */

$bgColor: #efefef;
$boxColor: #fff;